.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.places h1 {
    margin: 40px 100% 10px 15%;
    font-size: 30px;
}

.places h2 {
    font-size: 30px;
    margin: -5px 0 50px 0;
    text-align: center;
}

.places .price_by_night {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -90px;
    padding: 5px 5px;
    color: #FF5A5F;
    font-size: 30px;
    height: 60px;
    min-width: 60px;
    border: #FF5A5F solid 4px;
    border-radius: 50%;
}


.places .information {
    display: flex;
    justify-content: center;
    height: 80px;
    border-top: #DDDDDD solid 1px;
    border-bottom: #DDDDDD solid 1px;
}

.information .max_guest {
    background: url(../images/icon_group.png) no-repeat;
}

.information .number_rooms {
    background: url(../images/icon_bed.png) no-repeat;
}

.places .information .number_bathrooms {
    background: url(../images/icon_bath.png) no-repeat;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
    display: flex;
    align-items: end;
    width: 100px;
}

.places .information p {

    margin: 18px -5px;
}